@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --main-color: #adff2f;
    --bg-color-1: #eee;
    --bg-color-2: #ffffff;
    --text-color-1: #444;
    --text-color-2: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1.5rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

body{
    background: var(--bg-color-1);
}

body.active{
    --bg-color-1: #222;
    --bg-color-2: #333;
    --text-color-1: #ffffff;
    --text-color-2: #eee;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.5);
}

section{
    padding: 2rem 9%;
}

.btn{
    margin-top: .5rem;
    display: inline-block;
    padding:.9rem 3.5rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--main-color);
    border-radius: 5rem;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
}

.header{
    position: fixed;
    top: 0;
    left: 0; right: 0;
    background: var(--bg-color-2);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 3rem;
    font-weight: bolder;
    color: #0d9979;
}

.header .icons div{
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--text-color-1);
    background: var(--bg-color-1);
    margin-left: .5rem;
    cursor: pointer;
}

.header .icons div:hover{
    background: var(--main-color);
    color: white;
}

.header .navbar{
    position: absolute;
    top: 115%;
    right: 9%;
    background: var(--bg-color-2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 25rem;
    padding: 1rem;
    display: none;
}

.header .navbar.active{
    display: block;
}

.header .navbar a{
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
    color: var(--text-color-1);
    display: block;
}

.header .navbar a:hover{
    color: var(--main-color);
    padding-left: 2rem;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 9%;
    background: var(--bg-color-2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    height: 5rem;
    width: 50rem;
    padding: 1rem;
    display: none;
}

.header .search-form.active{    
    display: flex;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background:none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--text-color-1);
    padding:1rem;
}

.header .search-form label{
    color:var(--text-color-1);
    font-size: 2rem;
    padding-right: .8rem;
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .colors-palette{
    position: absolute;
    top:115%; right: 9%;
    background:var(--bg-color-2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:1rem;
    text-align: center;
    width: 20rem;
    display: none;
}

.header .colors-palette.active{
    display: block;
}

.header .colors-palette h3{
    padding:.7rem;
    font-size: 2rem;
    color:var(--text-color-1);
}

.header .colors-palette .colors{
    display: flex;
    flex-wrap: wrap;
    padding:.7rem;
    justify-content: center;
    gap:1rem;
}

.header .colors-palette .colors .color{
    border-radius: .5rem;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
}

.home{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-top: 8rem;
}

.home .content{
    border-radius: .5rem;
    max-width: 75rem;
    padding: 3rem 5rem;
    background: var(--bg-color-2);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.home .content h2{
    color: var(--text-color-1);
    font-size: 4rem;
    font-weight: bolder;
}

.home .content p{
    color: var(--text-color-2);
    font-size: 1.5rem;
    text-transform: initial;
    padding: 1.5rem 0;
    line-height: 1.9;
}














@media  (max-width: 991px){
    
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem; 
    }
}

@media (max-width:768px){

    .header .navbar{
        right: 2rem;
    }

    .header .search-form{
        right: 2rem;
        width:90%;
    }

    .header .colors-palette{
        right: 2rem;
    }

    .home .content{
        padding:3rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}